.magic {
  height: calc(800 / 14.4 * 1vw);
  background: #f5f5f599;
  padding-top: calc(117 / 14.4 * 1vw);
}

.magic-top {
  width: 100%;
  height: calc(312 / 14.4 * 1vw);
}

.magic-top > h1 {
  font-family: "Motter Corpus Std", sans-serif;
  font-size: calc(80 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(96 / 14.4 * 1vw);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffccbc;
}

.magic-top > p:nth-child(2) {
  font-family: "Nunito Sans", sans-serif;
  font-size: calc(24 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(32 / 14.4 * 1vw);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: calc(810 / 14.4 * 1vw);
  margin-top: calc(24 / 14.4 * 1vw);
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #0b4141;
}

.magic-top > p:nth-child(3) {
  font-family: "Nunito Sans", sans-serif;
  font-size: calc(24 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(32 / 14.4 * 1vw);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: calc(810 / 14.4 * 1vw);
  margin-top: calc(50 / 14.4 * 1vw);
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #0b4141;
}

.magic-top > p:nth-child(3) > span {
  font-family: "Nunito Sans", sans-serif;
  font-size: calc(24 / 14.4 * 1vw);
  font-weight: 600;
  line-height: calc(32 / 14.4 * 1vw);
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.magic > img {
  width: 100%;
  height: calc(332 / 14.4 * 1vw);
  margin-top: calc(39 / 14.4 * 1vw);
}
